#getTextWidth {
    visibility: hidden;
    font-weight: bold;
    font-family: NotoSansLight;
}

#workspace {
    width: 90vw;
    height: 100vh;
    background-color: #f3fcfc;
}

#workspaceSvg { 
    width: 90vw;
    height: 100vh;
    cursor: move;
}

#grabbingBlock {
    opacity: .7;
}

#app {
    display: flex;
    flex-direction: row;
}

#explorer {
    background-color: gray;
    width: 10vw;
}